<%- include('layouts/header')%>
    <div class="section purchased">
        <div class="container">
            <h2>Thank You For Buying The Book!</h2>
        </div>
    </div>
<%- include('layouts/footer')%>
    
