/* navbar */
.bg-all {
    background-color: #F1F3FF;
}

.navbar-loc {
    margin: 0% 5%;
}

.brand {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
    margin-left: 7%;
}

/* navbar */

/* ====================================================== */
/* ====================================================== */

/* header */
.grid-rent {
    padding-top: 5%;
    padding-left: 12%;
}

.grid-car {
    padding-left: 3.5%;
}

.size-car {
    width: 704px;
    height: 407px;
}

/* header */

/* ====================================================== */
/* ====================================================== */

/* konten mbak mbak */
.grid-service {
    margin-top: 6%;
}

.size-service {
    width: 459px;
    height: 428px;
}

.grid-best {
    margin-top: 9%;
    padding-left: 10%;
}

.icon-tick {
    color: #1434d4;
    font-size: 20px;
    background-color: #CFD4ED;
    width: 30px;
    height: 30px;
}

/* konten mbak mbak */

/* ====================================================== */
/* ====================================================== */

/* why us */
.grid-whyus {
    margin-top: 100px;
}

.icon-promotion {
    width: 268px;
    height: 196px;
}

.why-us {
    padding-top: 100px;
}

.why-text p {
    font-size: 14px;
}

.why-text .card {
    border-radius: 8px;
}

/* why us */

/* ====================================================== */
/* ====================================================== */

/* testimonial */
.card-testi {
    width: 619px;
    height: 270px;
}

.pos-card {
    margin-left: 2%;
}

/* testimonial */

/* ====================================================== */
/* ====================================================== */

/* konten sewa mobil */
.grid-rentcar {
    background-color: #0D28A6;
    border-radius: 13px;
}

/* konten sewa mobil */

/* ====================================================== */
/* ====================================================== */

/* FAQ */
.display-accor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FAQ */

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .size-car {
        width: 100%;
        height: 100%;
    }

    .size-service {
        width: 100%;
        height: 100%;
    }

    .size-card {
        margin-top: 5%;
    }

    .pos-card {
        margin-left: 8%;
        margin-right: 8%;
    }

    .faq {
        text-align: center;
    }

    .center-icon{
        align-items: center;
    }

    .center-img {
        margin-left: 25%;
        margin-right: 25%;
    }

    .reset-img{
        display: flex;
        justify-content: center;
    }

    .footer {
        padding-left: 4%;
    }

    .size-carosel{
        height: max-content;
    }

    .display-none {
        display: none;
    }

    .img-pos{
        margin-top: 0;
    }
}