body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-post{
  width: 350px;
  height: 200px;
}

.img-profil{
  width: 5%;
  height:5%;
}

.bg-nav{
  color: #ffffff;
}

.bg-all{
  background-image: url(background-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-form{
  background-color: #432169;
}

.bg-btn{
  background-color: #25b3b0;
}

.img-login{
  width: 85%;
  height: 80%;
}

.img-edit{
  width: 90%;
  height: 90%;
}

.img-register{
  width: 85%;
  height: 65%;
  margin-top: 23%;
  margin-left: 10%;
}

.radius{
  border-radius: 25px
}