/* navbar */
.text {
    color: #22660d;
}

/* Header */
.header {
    background-image: url(p07phq4b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-header{
    background-color: #f1b930;
}

.pos-header{
    padding-left: 4%;
}

.text-header{
    width: 35%;
}

/* Step By Step */
.text-niya{
    color: #f1b930;
}

.top-niya{
    margin-top: 6%;
}

.size-img{
    width: 20%;
    height: 20%;
}

.center-niya{
    align-items: center;
}

/* Region */
.padding-left{
    padding-left: 0;
}

.img-region{
    width: 95%;
    height: 100%;
}

.display-region{
    display: none;
}

.btn-region{
    background-color: #22660d;
    color: white;
}

.pos-region{
    padding-top: 10%;
}

/* promosi 1 */
.font-prom{
    font-size: 50px;
}

.img-prom{
    width: 500px;
    height: 500px;
}
.radius-prom{
    border-radius: 50%;
}