/* navbar */
.bg-btn {
    background-color: #020078;
}

.bg-all {
    background-color: #f1e9f2;
}

.bg-text {
    color: #020078;
}


/* header */
.pos-teks-header {
    padding-top: 9%;
    padding-left: 7%;
}

.size-img {
    height: 100%;
    width: 100%;
}

/* explore our products */
.size-icon {
    width: 25%;
}

.card-center {
    margin-left: 20%;
}

.card-text {
    padding: 0 15%;
    width: 100%;
}

.btn-hover {
    border-color: #020078;
    color: #020078;
}

.btn-hover:hover {
    background-color: #020078;
    color: white;
}

/* related products */
.img-size {
    height: 150px;
    width: 100%;
}

.price {
    color: #d9501a;
}

/* what are our products */
.sizeimg {
    height: 23rem;
    width: 70%;
}

.top {
    margin-top: 8%;
}

.pos-teks-products {
    padding-top: 9%;
    padding-left: 8%;
}

/* Reviews Monitoring */
.card-monitor{
    height: 100%;
    width: 70%;
}

.pos-monitor{
    margin-left: 15%;
}

.pos-teks-monitor{
    padding-left: 8%;
    padding-top: 4%;
}

/* submit */
.pos-teks-submit{
    padding-left: 8%;
    padding-top: 6%;
}

/* footer */
.teks-footer{
    width: 25%;
}

.icon-size{
    width: 3%;
    height: 20%;
}



@media (min-width: 320px) and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    
    /* header */
    .top-img{
        margin-top: 5%;
    }

    .pos-header{
        flex-wrap: wrap-reverse;
    }
    
    .center-header{
        text-align: center;
    }

    .fullbtn{
        width: 100%;
    }

    /* Explore */
    .top-explore{
        margin-top: 25%;
    }

    /* related */
    .top-related{
        margin-top: 10%;
    }

    /* what Are */
    .center-what{
        text-align: center;
    }

    .sizeimg {
        height: 23rem;
        width: 100%;
    }

    /* Reviews Monitoring */

}